:root {
    /* Colors */
    --primary: #a0001e;
    --secondary: #180e0d;
    --accent1: #9d6451;
    --accent2: #e2beab;

    --white: #ffffff;
    --black: #000000;

    --shadow: #0303038e;
    --shading: #03030330;

    /* Status Colors */
    --good: #089f3f;
    --poor: #bdb630;
    --bad: #cb2121;

    --background: #f7f9fc;
    /* cor clara de fundo */
    --accent3-color: #ff6600;
    /* exemplo para CTA e botões */
    --text-color-main: #222222;
    --text-color-secondary: #ffffff;
    --status-red: #ff3333;

    --space-xs: 0.5rem;
    /* 8px */
    --space-sm: 1rem;
    /* 16px */
    --space-md: 2rem;
    /* 32px */
    --space-lg: 3rem;
    /* 48px */
    --font-title: 32px;
    --font-subtitle: 24px;
    --font-body: 20px;

    --font-title-list: 24px;
    --font-subtitle-list: 18px;
    --font-body-list: 16px;


    --highlight: #ffae00;
    /* substitui orange */

    /* Fonts */
    --heading: 'Playfair Display', georgia, serif;
    --paragraph: 'DM Sans', tahoma, sans-serif;
}

.fa-solid,
.fa-bars,
.close {
    border: none;
}

h1 {
    font-size: 40px;
}

h2,
h3 {
    font-size: 32px;
}



h1,
h2,
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    margin: 0px;
}

h4,
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 0px 0px 4px 0px;
}



p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 0px 0px 4px 0px;
}


body {
    margin: 0 auto;
    background-color: var(--black);
}

/* Header */


header {
    display: flex;
    justify-content: space-between;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    background-color: var(--primary);
    align-items: center;
    padding: 0.5rem 1rem;
    min-height: 80px;
}



.header-title {
    font-size: 2rem;
    /* aumenta o tamanho da fonte */
    font-weight: 700;
    color: white;
    /* deixa em negrito */
    /*color: #004080;
    /* cor destacada, você pode mudar */
    /* text-transform: uppercase;
    /* opcional, deixa em maiúsculas */
    letter-spacing: 1px;
    /* espaçamento entre letras */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* leve sombra */
    display: inline-block;
    /* facilita ajustes de margin/padding */
    margin-left: 1rem;
    /* espaço do logo, se necessário */
}

/* Logo + nome */
.page-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80px; /* ou o tamanho que desejar */
    height: auto;
    padding: 10px; /* mantém proporção */
}



/* Navigation */

/* Agrupa menu + social */
nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* espaço entre lista de navegação e ícones sociais */
}




.navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    font-weight: 600;
    color: #222;
}

nav li {
    display: none;
    width: 100%;
}

nav .nav-li a {
    display: inline-block;
    /* permite aplicar largura */
    min-width: 100px;
    /* ajusta para a largura que quiser */
    text-align: center;
    /* centraliza o texto dentro do botão */
    padding: 0.5rem 1rem;
    /* aumenta área clicável */
}

nav li:first-child {
    display: block;
}

#nav-icon {
    color: white;
    /* Cor desejada */
}

#nav-button {
    background-color: transparent;
    /* Cor do fundo do botão */
    border: none;
    /* Remove borda se houver */
    padding: 8px;
    /* Ajusta o tamanho do botão */
    border-radius: 5px;
    /* Opcional: borda arredondada */
}

#nav-button.active {
    background-color: var(--accent1);
}

#nav-current::before {
    display: inline-block;
    margin: 2px 4px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: var(--accent1);
    content: "";
}

nav li.open {
    display: block;
}

nav a,
nav a:visited {
    text-decoration: none;
    display: block;
    padding: 12px;
    background-color: var(--secondary);
    color: var(--white);
}

nav a {
    background-color: transparent;
    /* remove qualquer fundo */
    color: inherit;
    /* mantém a cor do texto do link */
    text-decoration: none;
    /* opcional: remove sublinhado */
}

nav a:hover {
    background-color: var(--primary);
    /* background-color: red; */
    color: var(--white);
    box-shadow: 0px 2px 7px 2px var(--shadow);
}

nav a:active {
    background-color: var(--primary);
    color: var(--accent2);
}

.active {
    background-color: var(--black);
    color: var(--accent1);
}


img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}



/* Responsive Menu */
.menu {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    background-color: var(--secondary);
    color: var(--white);
    background: linear-gradient(to bottom, var(--black), var(--secondary));
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
}

.menu li:hover {
    background-color: var(--black);
    color: var(--accent2);
}

.menu li a {
    display: block;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid var(--shadow);
}

.menu li span {
    padding-left: 10px;
}

/* Main */
main {
    background-color: var(--white);
    padding: 12px;
}



/* Footer */

footer {
    display: block;
    background-color: var(--primary);
    color: var(--white);
}



#visit-count,
#visit-since {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
}








/* Discover Page Content */

.discover-grid {
    display: block;
}

.discover-box {
    border: 1px solid var(--background);
    width: auto;
    height: auto;
    margin-bottom: 60px;
    background-color: var(--background);
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.discover-box .box-title {
    min-width: 200px;
}

.discover-box .box-content {
    padding-bottom: 40px;
}

.discover-grid img {
    transition: 1s;
    max-width: 600px;
    background-color: lightgray;
}

.discover-grid img:hover {
    transition: 0.5s;
    transform: scale(1.02, 1.02);
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px var(--shadow);
}

.discover-grid img:active {
    filter: blur(2px);
    transition: 2s;
}

.fade-in {
    animation: fade 3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#showHere div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "name"
        "photograph"
        "description"
        "location";
}

#showHere div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#showHere div img {
    width: 100%;
    grid-area: photograph;
}

#showHere div p {
    margin: 1rem 10px;
    grid-area: description;
}

#showHere div address {
    margin: 1rem 10px;
    grid-area: location;
}



/* TEMP ************************* */
.hero {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.hero-home {
    background-image: url("../images/recife-1500x750.webp");
}

.hero-join {
    background-image: url("../images/hero/litchfield-park.webp");
}

.hero-directory {
    background-image: url("../images/hero/buisness-park.webp");
}

.hero-discover {
    background-image: url("../images/hero/sunset.webp");
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.hero-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.hero-content h2 {
    font-size: 3em;
    font-weight: 800;
    color: var(--text-color-secondary);
    margin: 20px;
}

.hero-content p {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--text-color-secondary);
    margin-bottom: 20px;
}






/* Join Page CSS Effects */

/* Thankyou Page Content */

/* Directory Page Content */

/* ------------------ FOOTER ------------------ */
footer {
    background-color: var(--primary);
    color: #fff;
    padding: 0.8rem 1rem;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    display: block;
    color: var(--white);
}


.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info div {
    flex: 1;
    min-width: 150px;
}

.footer-info p {
    margin: 0.1rem 0;
    line-height: 1.3;
    font-size: 14px;
}

.info-left p,
.info-right p {
    text-align: left;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    font-weight: 300;
}

/* ------------------ SOCIAL ------------------ */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}

.social img {
    width: 16px;
    height: 16px;
}

.social a:hover {
    background-color: #eec22d;
}


/* ------------------ LAST MODIFIED ------------------ */



@media (max-width: 37.99rem) {
    footer {
        font-size: 14px;
        /* menor em telas pequenas */
    }

    footer .footer-info {
        flex-direction: column;
        /* garante que fique empilhado no mobile */
        text-align: center;
    }

    footer .footer-info p {
        margin: 0.25rem 0;
        /* menos espaçamento */
    }


    .info-left p,
    .info-right p {
        font-size: 14px;
    }

   
   

    .learn-btn {
        display: block;
        width: fit-content;
        margin: 1rem auto;
        font-size: 1rem;
        text-align: center;
        margin-top: 1rem;
        padding: 0.2rem 0.2rem;
        border: none;
        border-radius: 8px;
        background: var(--primary, #a0001e);
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
    }


    .learn-btn:hover {
        background: #7a0016;
    }

    dialog {
        border: 1px solid rgb(0 0 0 / 10%);
        border-radius: .25rem;
        padding: 1rem;
        background-color: #fff;
        box-shadow: 0 0 3rem #777;
        width: 90%;
        max-width: 400px;
    }

    ::backdrop {
        background-color: rgb(0 0 0 / 50%);
    }

    dialog button {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: .5rem 1rem;
        border: 1px solid rgb(0 0 0 / 10%);
    }

}