@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }


    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
        background-color: rgb(70 83 107 / 30%);
        margin-top: 5px;
    }

    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        flex: 1 1 100%;
    }

    .navigation a {
        border: none;
    }
}