@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    .about-student {
        flex-direction: row;
    }
    
    .about-me {
        flex: 2;
    }
    
    .student-photo {
        flex: 1;
    }

    .student-photo img {
        display: block;
        margin: 0 auto;
    }
    
    
    /* TERCEIRA SEÇÃO (OCUPA A LARGURA TOTAL) */
    .courses {
        background-color: #f9f9f9;
        padding: 1rem;
       /* border: 1px solid #ddd; */
        border: none;
    }
    /* TERCEIRA SEÇÃO (OCUPA A LARGURA TOTAL) */
    .courses {
        background-color: #f9f9f9;
        padding: 1rem;
        border: 1px solid #ddd;
    }


    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
        background-color: rgb(70 83 107 / 30%);
        margin-top: 5px;
    }

    .navigation ul {
        display: flex;
    }

    .navigation ul li {
        flex: 1 1 100%;
    }

    .navigation a {
        border: none;
    }
}